<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>de.dargent.MetalSkin</string>
	<key>CFBundleName</key>
	<string>MetalSkin</string>
	<key>SKSkinDataSource</key>
	<dict>
		<key>accentTintColor</key>
		<dict>
			<key>name</key>
			<string>purple</string>
		</dict>
	</dict>
</dict>
</plist>
